In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np
import datetime as dt
%matplotlib inline

In [2]:
%load_ext sql

In [3]:
%sql postgresql://postgres:postgres@localhost:5430/eskom_db

In [4]:
df = pd.read_csv("ESK2033.csv")
df = df.fillna(0)
df.to_csv("ESK2033_clean.csv")

In [13]:
%%sql 
DROP TABLE IF EXISTS eskom_data;
CREATE TABLE  eskom_data(
    date_time_hour_beginning TIMESTAMP,
    original_res_forecast_before_lockdown NUMERIC,
    residual_forecast NUMERIC,	
    rsa_contracted_forecast	 NUMERIC,
    dispatchable_generation	NUMERIC ,
    residual_demand NUMERIC,
    rsa_contracted_demand  NUMERIC,
    international_exports  NUMERIC,
    international_imports  NUMERIC,
    thermal_generation  NUMERIC,
    nuclear_generation  NUMERIC,
    eskom_gas_generation  NUMERIC,	
    eskom_ocgt_generation  NUMERIC,	
    hydro_water_generation  NUMERIC,
    pumped_water_generation	 NUMERIC,
    ils_usage  NUMERIC,
    manual_load_reduction NUMERIC,
    ios_excl_ils_and_mlr  NUMERIC,
    dispatchable_ipp_ocgt  NUMERIC,
    eskom_gas_sco  NUMERIC,
    eskom_ocgt_sco  NUMERIC,
    hydro_water_sco	 NUMERIC,
    pumped_water_sco  NUMERIC,
    pumping	 NUMERIC,
    wind  NUMERIC,
    pv  NUMERIC,
    csp  NUMERIC,
    other_re  NUMERIC,	
    total_re  NUMERIC,	
    wind_installed_capacity	 NUMERIC,
    pv_installed_capacity  NUMERIC,	
    csp_installed_capacity  NUMERIC,
    other_re_installed_capacity	 NUMERIC,
    total_re_installed_capacity	 NUMERIC,
    installed_eskom_capacity  NUMERIC,
    total_pclf  NUMERIC,
    total_uclf  NUMERIC,
    total_oclf  NUMERIC,
    total_uclf_and_oclf	 NUMERIC,
    non_comm_sentout  NUMERIC,	
    drakensberg_gen_unit_hours  NUMERIC,
    palmiet_gen_unit_hours  NUMERIC,	
    ingula_gen_unit_hours NUMERIC
    
)

 * postgresql://postgres:***@localhost:5430/eskom_db
Done.
Done.

[]

In [15]:
%%sql 
COPY eskom_data(date_time_hour_beginning,original_res_forecast_before_lockdown,residual_forecast,rsa_contracted_forecast,dispatchable_generation,residual_demand,rsa_contracted_demand,international_exports,international_imports,thermal_generation,nuclear_generation,eskom_gas_generation,eskom_ocgt_generation,hydro_water_generation,pumped_water_generation,ils_usage,manual_load_reduction,ios_excl_ils_and_mlr,dispatchable_ipp_ocgt,eskom_gas_sco,eskom_ocgt_sco,hydro_water_sco,pumped_water_sco,pumping,wind,pv,csp,other_re,total_re,wind_installed_capacity,pv_installed_capacity,csp_installed_capacity,other_re_installed_capacity,total_re_installed_capacity,installed_eskom_capacity,total_pclf,total_uclf,total_oclf,total_uclf_and_oclf,non_comm_sentout,drakensberg_gen_unit_hours,palmiet_gen_unit_hours,ingula_gen_unit_hours)
FROM '/Users/ds_learner16/Documents/Eskom/Eskom_Data_Analysis/ESK2033_clean.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost:5430/eskom_db
43824 rows affected.

[]

In [17]:
df = pd.read_sql_table()

 * postgresql://postgres:***@localhost:5430/eskom_db
43824 rows affected.

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,2018-04-01 00:00:00,0.0,19904.967,20367.066,20237.0,20237.0,20722.058,1215.902,1120.0,19444.0,...,44546.0,3987.472,8028.71,275.907,8304.0,617.0,383.0,81.8,36.9,30.41
1,2018-04-01 01:00:00,0.0,19553.899,19988.733,19744.0,19744.0,20188.493,1203.474,1106.0,19297.0,...,44546.0,3987.472,7727.302,244.907,7972.0,209.0,388.0,83.0,38.5,32.85
2,2018-04-01 02:00:00,0.0,19314.284,19731.239,19631.0,19631.0,20019.603,1177.571,1117.0,19165.0,...,44546.0,3987.472,7704.704,193.727,7898.0,431.0,388.0,83.8,40.3,35.6
3,2018-04-01 03:00:00,0.0,19342.679,19753.554,19731.0,19731.0,20079.454,1184.312,1118.0,19279.0,...,44546.0,3990.072,7702.868,187.0,7889.0,868.0,389.0,85.0,42.0,37.76
4,2018-04-01 04:00:00,0.0,19538.89,19988.365,19890.0,19890.0,20237.49,1197.271,1108.0,19369.0,...,44546.0,3990.472,7685.115,187.0,7872.0,115.0,385.0,85.8,43.7,40.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2023-03-31 19:00:00,0.0,27746.667,29314.632,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43820,2023-03-31 20:00:00,0.0,26101.656,27605.215,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43821,2023-03-31 21:00:00,0.0,24646.57,26030.785,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43822,2023-03-31 22:00:00,0.0,23384.907,24597.115,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43823,2023-03-31 23:00:00,0.0,22313.206,23446.158,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0