In [45]:
import pandas as pd 
import matplotlib.pyplot as plt 
import plotly.express as px
%matplotlib inline

In [46]:
%reload_ext sql

In [47]:
%sql postgresql://postgres:@localhost:5430/eskom_db

In [48]:
%%sql
DROP TABLE IF EXISTS Loadshedding;
CREATE TABLE loadshedding (
    created_at TIMESTAMP,
    stage INT
      
);

 * postgresql://postgres:***@localhost:5430/eskom_db
Done.
Done.

[]

In [49]:
%%sql
COPY Loadshedding(created_at,stage)
FROM '/Users/pu_mac_10_/Documents/2nd Sprint/week 1/Eskom_Data_Analysis/EskomSePush_history.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost:5430/eskom_db
670 rows affected.

[]

In [50]:
%%sql 
DROP TABLE IF EXISTS load_shedding_clean;
CREATE TABLE load_shedding_clean
AS
SELECT 
    EXTRACT(YEAR FROM created_at) as year,
    EXTRACT(MONTH FROM created_at) as month,
    EXTRACT(DAY FROM created_at) as day,
    EXTRACT(HOUR FROM created_at) as hour,
    stage

FROM Loadshedding

 * postgresql://postgres:***@localhost:5430/eskom_db
Done.
670 rows affected.

[]

In [55]:
stage_0 = %sql SELECT year,COUNT(stage) FROM load_shedding_clean WHERE stage = 0 GROUP BY year,stage 
counts = %sql SELECT year,COUNT(stage) FROM load_shedding_clean GROUP BY year,stage 
counts

 * postgresql://postgres:***@localhost:5430/eskom_db
6 rows affected.
 * postgresql://postgres:***@localhost:5430/eskom_db
30 rows affected.

[(Decimal('2022'), 30),
 (Decimal('2019'), 23),
 (Decimal('2022'), 4),
 (Decimal('2020'), 12),
 (Decimal('2021'), 4),
 (Decimal('2022'), 53),
 (Decimal('2019'), 17),
 (Decimal('2019'), 10),
 (Decimal('2015'), 75),
 (Decimal('2019'), 4),
 (Decimal('2020'), 4),
 (Decimal('2020'), 3),
 (Decimal('2015'), 4),
 (Decimal('2015'), 101),
 (Decimal('2018'), 14),
 (Decimal('2020'), 34),
 (Decimal('2018'), 8),
 (Decimal('2019'), 1),
 (Decimal('2019'), 9),
 (Decimal('2021'), 10),
 (Decimal('2022'), 58),
 (Decimal('2021'), 4),
 (Decimal('2015'), 56),
 (Decimal('2021'), 33),
 (Decimal('2018'), 11),
 (Decimal('2020'), 38),
 (Decimal('2022'), 6),
 (Decimal('2022'), 9),
 (Decimal('2021'), 32),
 (Decimal('2022'), 3)]